<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.6.8/c3.min.css">

<title>{{ title }}</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Smart meter</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="card">
					<canvas id="myChart" style="padding: 5px"></canvas>
					<div class="card-body">
						<h5 class="card-title">Special title treatment</h5>
						<p class="card-text">With supporting text below as a natural
							lead-in to additional content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="card">
					<div class='chart'>
						<div id='myContainer'></div>
					</div>
					<div class="card-body">
						<h5 class="card-title">Special title treatment</h5>
						<p class="card-text">With supporting text below as a natural
							lead-in to additional content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<!--  Chart JS -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
	<!--  C3 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.6.8/c3.js"></script>

	<script>
		var test = c3.generate({
			bindto : '#myContainer',
			data : {
				url : '/api/speed',
				type : 'gauge'
			},
			gauge : {
				label : {
					format: function(value, ratio) {
		                return value;
		            },
					show : true
				},
			units : ' rev/s'
			},
			legend: {
				  hide: true
			},
			color : {
				pattern : [ '#60B044', '#F6C600', '#F97600', '#FF0000' ], // the three color levels for the percentage values.
				threshold : {
					values : [ 30, 60, 90, 100 ]
				}
			},
			size : {
				height : 180
			}
		});
		setInterval(function () {test.load({
			url : '/api/speed',
			type : 'gauge'
		})}, 500);
		
		var ctx = document.getElementById('myChart').getContext('2d');
		var chart = new Chart(ctx, {
			// The type of chart we want to create
			type : 'line',

			// The data for our dataset
			data : {
				labels : [ "January", "February", "March", "April", "May",
						"June", "July" ],
				datasets : [ {
					label : "My First dataset",
					backgroundColor : 'rgb(255, 99, 132)',
					borderColor : 'rgb(255, 99, 132)',
					data : [ 0, 10, 5, 2, 20, 30, 45 ],
				} ]
			},

			// Configuration options go here
			options : {}
		});
	</script>
</body>
</html>